/* Mobile (Default) */
.html-container{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.div1{
    min-width: 280px;
}

/* Laptop/Desktop */
@media screen and (min-width: 768px){

    .html-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .div1{
        width: 300px;
    }

    .container{
        width: 80%;
        margin: auto;
    } 
    nav { justify-content:space-around ;
    }
}

body{margin: 0%;
padding-top:0%;
background: rgba(194,253,244,0.944);

}
nav{ 
  display: flex;
  background-color: aqua;
  gap: 20px;
  padding-left: 20px;
  text-align: center;
  align-items: center;
  height: 35px;
  
}
header{background-image: url('IMG_20260701_081006.jpg');
  background-size:cover; 
  background-position:center; 
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
    width: 100%;
    height: 100px;
}
header h3{margin: 0%;
padding: 15px;
}
nav a{
cursor: pointer;
text-decoration:none;

}
#options{
    position: fixed;
    top: 110px;      
    left: -220px;   
    width: 150px;
    background: rgb(86,231,227);
    transition: 0.3s;
    z-index: 100;
    margin-left:1px
}

#options.show{
    left: 0;
}

#options a{
    display: block;
    padding: 12px;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 0;
    width: auto;
    position: static;   
}
#profile-options{
    position: fixed;
    top: 110px;     
    right: -220px;    
    width: 150px;
    background: rgb(86,231,227);
    transition: 0.3s;
    z-index: 100;
    margin-right:2px
}

#profile-options.show{
    right: 0;
}

#profile-options a{
    display: block;
    padding: 12px;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 0;
    width: auto;
    position: static;   /* fixed తీసేయండి */
}

h3{text-align: leftr;
  align-items: center;
}
.container{
  display:block;
  box-shadow: 0 4px 8px rgb(0,0,0,2);
  margin: 20px;
  background: rgba(194,253,244,0.944);
  padding: 20px;
  margin-top: 150px;
}

.div{background: white;
border:1px solid black;
border-radius:5px;
  flex: 0 0 300px;
  min-height: 400px;
  align-items: flex-start;
  box-sizing: border-box;
   padding-left:20px;
}
.heading{text-align: center;
font-size: 30px;
}
.h3{text-align: left;
  padding-left:5px;
  overflow: auto;
}
.h4{text-align: left;
  padding-left:20px;
}

html{
  scroll-behavior: smooth;
}
hr{margin-top: 50px;}
.explore{margin: 20px;
  box-shadow: 0 4px 8px rgb(0,0,0,2);
  margin-top: 50px;
}
.html-container{
  display: flex;
  gap: 2px;
  overflow-x: auto;
  align-items: flex-start;
}

.div1{
  flex: 0 0 250px;
  min-height: 400px;
  padding: 20px;
  border: 1px solid #4f5052;
  border-radius: 10px;
  background: white;
  box-sizing: border-box;
  margin:5px;
}
button a{text-decoration:none;
  color: black;
}
img{width:250px;
height: 150px;}
.html1{width:50px;
height: 50px;
}
button {
padding: 6px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 3px;
background: #3498db;
color: white;
}
button:hover {
opacity: 0.9;
}
input {
width: 50%;
padding: 8px;
margin:5px;
}
.button{padding: 6px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 3px;
background: #3498db;
}
.quiz{width:30px;
padding: 8px;
margin:5px;
}
 .quiz-p{text-align: right;
 align-items: center;
   background: #f07058;
   width:75px;
   align-items: right;
 }

 footer{background:#23b3c3;}
 
.footer{ border:1px solid black;
   margin-bottom: 25px;
   padding-left: 10px;
   margin-top: 25px;
   background: white;
 }

 
